.about{
    display: flex;
    width:100%;
    flex-wrap: wrap;

}
.Left > img{
    height:250px;
    width:250px;
    object-fit:contain;
}
.DownloadBtn{

    color: #fff;
display: flex;
    margin-top: 6px;
    align-items:center;
    padding:15px;
   background: #444;
   width:200px;
   border-radius:5px;
}
.DownloadBtn>h4{
       padding-left:5px;
   }
.DownloadBtn:hover{
    background: #fff;
   color: #2B2B2B;
   
   }